@model IEnumerable<Core.Entity.Bookstore>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.author.FullName)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.ImgUrl)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
          var photoPath = "~/images/" + (item.ImgUrl ?? "noimage.jpg");

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
          <td>
                @Html.DisplayFor(modelItem=>item.author.FullName)
            </td>

             <td>
              <img class="card-img-top imageThumbnail" src="@photoPath" 
                 asp-append-version="true" style="width:64px;" class="img-thumbnail"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
